:root {
/* Color Theme Swatches in Hex */
--agmund-1-hex: #59394E;
--agmund-2-hex: #0D0E26;
--agmund-3-hex: #56588C;
--agmund-4-hex: #656B8C;
--agmund-5-hex: #F2F2F2;

--bluesky1: #6A9AD9;
--bluesky2: #77ABD9;
--bluesky3: #9BCAF2;
--bluesky4: #D5E5F2;
--bluesky5: #A7D5F2;

/* Color Theme Swatches in RGBA */
--agmund-1-rgba: rgba(89, 57, 78, 1);
--agmund-2-rgba: rgba(13, 14, 38, 1);
--agmund-3-rgba: rgba(85, 88, 140, 1);
--agmund-4-rgba: rgba(100, 106, 140, 1);
--agmund-5-rgba: rgba(242, 242, 242, 1);
}

body {
  background-image: url(assets/pexels-joão-jesus-921294.jpg);
  background-color: #f9fbfd;
}

header {
  background: rgb(13,14,38);
  background: linear-gradient(90deg, rgba(13,14,38,1) 0%, rgba(167,213,242,1) 100%);
  height: 100px;
}

header p {
  font-family: 'Prosto One', cursive;
  font-size: 66px;
  padding-left: 5%;
  background: -webkit-linear-gradient(90deg, rgba(106,154,217,1) 20%, rgba(167,213,242,1) 51%, rgba(106,154,217,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100%;
}

.nav-link {
  text-decoration: none;
  color: #0D0E26;
  font-family: 'Prosto One', cursive;
  font-size: 24px;
}

section {
  display: flex;
  min-height: 92.3vh;
  background: rgb(13,14,38);
  background: linear-gradient(90deg, rgba(13,14,38,0.9) 0%, rgba(167,213,242,0.4) 100%);
}

.card {
  background-color: var(--agmund-2-hex);
  border-radius: 5px;
  color: var(--bluesky2);
  text-align: center;
  font-size: 16px;
  letter-spacing: 10px;
  margin: auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: 2px solid #e7e9eb;
  background-color: var(--agmund-2-hex);
  border-radius: 5px;
  display: inline-block;
  font-family: 'Prosto One', cursive;
  color: var(--bluesky2);
  font-size: 28px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

/* IMAGE CREDIT */
/* Photo by João  Jesus: https://www.pexels.com/photo/clear-glass-window-with-brown-and-white-wooden-frame-921294/ */
